---
BasedOnStyle:    LLVM,
AccessModifierOffset: '-4'
AlignAfterOpenBracket: AlwaysBreak,
AllowShortFunctionsOnASingleLine: Inline
BreakConstructorInitializersBeforeComma: 'true'
ColumnLimit: '80'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
ContinuationIndentWidth: '8',
IndentWidth: '4'
NamespaceIndentation: Inner
PointerAlignment: Left
...
